
PGMEATS_WEB/bin/Antlr3.Runtime.dll
PGMEATS_WEB/bin/ClosedXML.dll
PGMEATS_WEB/bin/ClosedXML.pdb
PGMEATS_WEB/bin/ClosedXML.xml
PGMEATS_WEB/bin/CrystalDecisions.CrystalReports.Engine.dll
PGMEATS_WEB/bin/CrystalDecisions.ReportAppServer.ClientDoc.dll
PGMEATS_WEB/bin/CrystalDecisions.ReportAppServer.CommLayer.dll
PGMEATS_WEB/bin/CrystalDecisions.ReportAppServer.CommonControls.dll
PGMEATS_WEB/bin/CrystalDecisions.ReportAppServer.CommonObjectModel.dll
PGMEATS_WEB/bin/CrystalDecisions.ReportAppServer.Controllers.dll
PGMEATS_WEB/bin/CrystalDecisions.ReportAppServer.CubeDefModel.dll
PGMEATS_WEB/bin/CrystalDecisions.ReportAppServer.DataDefModel.dll
PGMEATS_WEB/bin/CrystalDecisions.ReportAppServer.DataSetConversion.dll
PGMEATS_WEB/bin/CrystalDecisions.ReportAppServer.ObjectFactory.dll
PGMEATS_WEB/bin/CrystalDecisions.ReportAppServer.Prompting.dll
PGMEATS_WEB/bin/CrystalDecisions.ReportAppServer.ReportDefModel.dll
PGMEATS_WEB/bin/CrystalDecisions.ReportAppServer.XmlSerialize.dll
PGMEATS_WEB/bin/CrystalDecisions.ReportSource.dll
PGMEATS_WEB/bin/CrystalDecisions.Shared.dll
PGMEATS_WEB/bin/CrystalDecisions.Web.dll
PGMEATS_WEB/bin/DocumentFormat.OpenXml.dll
PGMEATS_WEB/bin/DocumentFormat.OpenXml.xml
PGMEATS_WEB/bin/EntityFramework.dll
PGMEATS_WEB/bin/EntityFramework.SqlServer.dll
PGMEATS_WEB/bin/EntityFramework.SqlServer.xml
PGMEATS_WEB/bin/EntityFramework.xml
PGMEATS_WEB/bin/EPPlus.dll
PGMEATS_WEB/bin/ExcelNumberFormat.dll
PGMEATS_WEB/bin/ExcelNumberFormat.xml
PGMEATS_WEB/bin/Microsoft.AspNet.Identity.Core.dll
PGMEATS_WEB/bin/Microsoft.AspNet.Identity.Core.xml
PGMEATS_WEB/bin/Microsoft.AspNet.Identity.EntityFramework.dll
PGMEATS_WEB/bin/Microsoft.AspNet.Identity.EntityFramework.xml
PGMEATS_WEB/bin/Microsoft.Web.Infrastructure.dll
PGMEATS_WEB/bin/Newtonsoft.Json.dll
PGMEATS_WEB/bin/Newtonsoft.Json.xml
PGMEATS_WEB/bin/PGMEATS_WEB.dll
PGMEATS_WEB/bin/PGMEATS_WEB.dll.CodeAnalysisLog.xml
PGMEATS_WEB/bin/PGMEATS_WEB.dll.config
PGMEATS_WEB/bin/PGMEATS_WEB.dll.lastcodeanalysissucceeded
PGMEATS_WEB/bin/PGMEATS_WEB.pdb
PGMEATS_WEB/bin/QRCodeFontNet.dll
PGMEATS_WEB/bin/Spire.License.dll
PGMEATS_WEB/bin/Spire.Pdf.dll
PGMEATS_WEB/bin/Spire.PdfViewer.Asp.dll
PGMEATS_WEB/bin/Spire.PdfViewer.Forms.dll
PGMEATS_WEB/bin/stdole.dll
PGMEATS_WEB/bin/System.Net.Http.Formatting.dll
PGMEATS_WEB/bin/System.Net.Http.Formatting.xml
PGMEATS_WEB/bin/System.Web.Helpers.dll
PGMEATS_WEB/bin/System.Web.Helpers.xml
PGMEATS_WEB/bin/System.Web.Mvc.dll
PGMEATS_WEB/bin/System.Web.Mvc.xml
PGMEATS_WEB/bin/System.Web.Optimization.dll
PGMEATS_WEB/bin/System.Web.Optimization.xml
PGMEATS_WEB/bin/System.Web.Razor.dll
PGMEATS_WEB/bin/System.Web.Razor.xml
PGMEATS_WEB/bin/System.Web.Webpages.Deployment.dll
PGMEATS_WEB/bin/System.Web.Webpages.Deployment.xml
PGMEATS_WEB/bin/System.Web.Webpages.dll
PGMEATS_WEB/bin/System.Web.Webpages.Razor.dll
PGMEATS_WEB/bin/System.Web.Webpages.Razor.xml
PGMEATS_WEB/bin/System.Web.Webpages.xml
PGMEATS_WEB/bin/WebGrease.dll
PGMEATS_WEB_API/bin/ADLESKAP_API.dll
PGMEATS_WEB_API/bin/ADLESKAP_API.dll.config
PGMEATS_WEB_API/bin/ADLESKAP_API.pdb
PGMEATS_WEB_API/bin/Antlr3.Runtime.dll
PGMEATS_WEB_API/bin/Antlr3.Runtime.pdb
PGMEATS_WEB_API/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
PGMEATS_WEB_API/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
PGMEATS_WEB_API/bin/Microsoft.Web.Infrastructure.dll
PGMEATS_WEB_API/bin/Newtonsoft.Json.dll
PGMEATS_WEB_API/bin/Newtonsoft.Json.xml
PGMEATS_WEB_API/bin/PGMEATS_WEB_API.dll
PGMEATS_WEB_API/bin/PGMEATS_WEB_API.dll.config
PGMEATS_WEB_API/bin/PGMEATS_WEB_API.pdb
PGMEATS_WEB_API/bin/QRCoder.dll
PGMEATS_WEB_API/bin/roslyn/csc.exe
PGMEATS_WEB_API/bin/roslyn/csc.exe.config
PGMEATS_WEB_API/bin/roslyn/csc.rsp
PGMEATS_WEB_API/bin/roslyn/csi.exe
PGMEATS_WEB_API/bin/roslyn/csi.rsp
PGMEATS_WEB_API/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
PGMEATS_WEB_API/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
PGMEATS_WEB_API/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
PGMEATS_WEB_API/bin/roslyn/Microsoft.CodeAnalysis.dll
PGMEATS_WEB_API/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
PGMEATS_WEB_API/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
PGMEATS_WEB_API/bin/roslyn/Microsoft.CSharp.Core.targets
PGMEATS_WEB_API/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
PGMEATS_WEB_API/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
PGMEATS_WEB_API/bin/roslyn/Microsoft.VisualBasic.Core.targets
PGMEATS_WEB_API/bin/roslyn/System.AppContext.dll
PGMEATS_WEB_API/bin/roslyn/System.Collections.Immutable.dll
PGMEATS_WEB_API/bin/roslyn/System.Diagnostics.StackTrace.dll
PGMEATS_WEB_API/bin/roslyn/System.IO.FileSystem.dll
PGMEATS_WEB_API/bin/roslyn/System.IO.FileSystem.Primitives.dll
PGMEATS_WEB_API/bin/roslyn/System.Reflection.Metadata.dll
PGMEATS_WEB_API/bin/roslyn/vbc.exe
PGMEATS_WEB_API/bin/roslyn/vbc.exe.config
PGMEATS_WEB_API/bin/roslyn/vbc.rsp
PGMEATS_WEB_API/bin/roslyn/VBCSCompiler.exe
PGMEATS_WEB_API/bin/roslyn/VBCSCompiler.exe.config
PGMEATS_WEB_API/bin/System.Net.Http.Formatting.dll
PGMEATS_WEB_API/bin/System.Net.Http.Formatting.xml
PGMEATS_WEB_API/bin/System.Web.Helpers.dll
PGMEATS_WEB_API/bin/System.Web.Helpers.xml
PGMEATS_WEB_API/bin/System.Web.Http.dll
PGMEATS_WEB_API/bin/System.Web.Http.WebHost.dll
PGMEATS_WEB_API/bin/System.Web.Http.WebHost.xml
PGMEATS_WEB_API/bin/System.Web.Http.xml
PGMEATS_WEB_API/bin/System.Web.Mvc.dll
PGMEATS_WEB_API/bin/System.Web.Mvc.xml
PGMEATS_WEB_API/bin/System.Web.Optimization.dll
PGMEATS_WEB_API/bin/System.Web.Optimization.xml
PGMEATS_WEB_API/bin/System.Web.Razor.dll
PGMEATS_WEB_API/bin/System.Web.Razor.xml
PGMEATS_WEB_API/bin/System.Web.WebPages.Deployment.dll
PGMEATS_WEB_API/bin/System.Web.WebPages.Deployment.xml
PGMEATS_WEB_API/bin/System.Web.WebPages.dll
PGMEATS_WEB_API/bin/System.Web.WebPages.Razor.dll
PGMEATS_WEB_API/bin/System.Web.WebPages.Razor.xml
PGMEATS_WEB_API/bin/System.Web.WebPages.xml
PGMEATS_WEB_API/bin/WebGrease.dll
PGMEATS_WEB/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
PGMEATS_WEB/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PGMEATS_WEB/obj/Debug/PGMEATS_WEB.csproj.CopyComplete
PGMEATS_WEB/obj/Debug/PGMEATS_WEB.csproj.CoreCompileInputs.cache
PGMEATS_WEB/obj/Debug/PGMEATS_WEB.csproj.FileListAbsolute.txt
PGMEATS_WEB/obj/Debug/PGMEATS_WEB.dll
PGMEATS_WEB/obj/Debug/PGMEATS_WEB.pdb
PGMEATS_WEB_API/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
PGMEATS_WEB_API/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PGMEATS_WEB_API/obj/Debug/PGMEATS_WEB_API.csproj.CopyComplete
PGMEATS_WEB_API/obj/Debug/PGMEATS_WEB_API.csproj.CoreCompileInputs.cache
PGMEATS_WEB_API/obj/Debug/PGMEATS_WEB_API.csproj.FileListAbsolute.txt
PGMEATS_WEB_API/obj/Debug/PGMEATS_WEB_API.dll
PGMEATS_WEB_API/obj/Debug/PGMEATS_WEB_API.pdb
