<header id="header">
    <div id="logo-group">

    <!-- PLACE YOUR LOGO HERE -->
        <span id="logo"> 
            <img src="~/content/img/PGMSB.png" style="display:flex; justify-content:center; object-fit:cover; width:100px; max-height:100%; max-width:100%;" alt="PGM - EATS">       
        </span>
    <!-- END LOGO PLACEHOLDER -->
 
    </div>
 
    <section id="top-right">
        @if (@Model is HelperResult)
        {
        }
        else
        {
            <div class="pull-right">
                @Html.Partial("_TopRight")
            </div>
        }
    </section>
</header>