@model ADLESKAP.Models.clsChangePassword

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1"
                     data-widget-colorbutton="false"
                     data-widget-editbutton="false"
                     data-widget-togglebutton="false"
                     data-widget-deletebutton="false"
                     data-widget-custombutton="false"
                     data-widget-collapsed="false"
                     data-widget-sortable="false">

                    <header style="border-top-left-radius:8px; border-top-right-radius:8px">
                        <h2 style="font-family:'Poppins-Regular';font-weight:500;font-size:13px">Change Password</h2>
                    </header>

                    <div style="border-bottom-left-radius:8px; border-bottom-right-radius:8px">
                        <div class="widget-body">

                            <form id="form" class="smart-form">
                                <fieldset id="SubmitForm" style="background-color:transparent">
                                    <table style="border:0px solid black; width:100%">
                                        <tr>
                                            <td style="width:15%">
                                                <div class="form-group">
                                                    <label style="font-weight:500; color:#fff" for="Password">New Password</label>
                                                </div>
                                            </td>
                                            <td style="width:85%">
                                                <div class="form-group">
                                                    @Html.PasswordFor(m => m.Password, new { @id = "Password", @class = "form-control input-md Password", @style = "height:20px; width:250px", @required = "required" })
                                                    <div>
                                                        <input type="checkbox" id="showHide" />
                                                        <span id="showHide" style="color:#fff">show password</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:15%">
                                                <div class="form-group">
                                                    <label style="font-weight:500; color:#fff" for="NewPassword">Confirm New Password</label>
                                                </div>
                                            </td>
                                            <td style="width:85%">
                                                <div class="form-group">
                                                    @Html.PasswordFor(m => m.NewPassword, new { @id = "NewPassword", @class = "form-control input-md NewPassword", @style = "height:20px; width:250px", @required = "required" })
                                                    <div id="hdn" style="display:none"></div>
                                                    <div>
                                                        <input type="checkbox" id="showHide2" />
                                                        <span id="showHide2" style="color:#fff">show password</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </form>

                            <div class="row form-horizontal">
                                <div class="form-group">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-5">
                                        @if (ViewBag.AllowWrite == "0")
                                        {
                                            <button id="btnsubmit" type="submit" value="Save" class="btn btn-primary" disabled style="width:85px; font-size:13px">
                                                Reset
                                            </button>
                                        }
                                        else
                                        {
                                            <button id="btnsubmit" type="submit" value="Save" class="btn btn-primary" style="width:100px; font-size:13px">
                                                Reset
                                            </button>
                                        }
                                        @*&nbsp;
                                        <button id="btnback" type="button" value="Back" onclick="back()" class="btn btn-default" style="width:85px; font-size:12px; border-radius:25px">
                                            Back
                                        </button>*@
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </article>

        </div>
    </section>

</div>



<script>
    //function back() {
    //    window.location.href = "/home/index"
    //}

    $("#showHide").click(function () {
        if ($(".Password").attr("type") == "password") {
            $(".Password").attr("type", "text");

        } else {
            $(".Password").attr("type", "password");
        }
    });

     $("#showHide2").click(function () {
            if ($(".NewPassword").attr("type") == "password") {
                console.log('in');
                $(".NewPassword").attr("type", "text");
            } else {
                console.log('out');
                $(".NewPassword").attr("type", "password");
            }
        });


    $(document).ready(function () {

        $("#btnsubmit").click(function () {
            if ($("#NewPassword").val() != $("#Password").val()) {
                toastr.warning("Password do not match", 'Warning', { timeOut: 3000, "closeButton": true });
                return;
            }

            if ($("#form").valid()) {
                $('#hdn').css({ display: 'none' });
                var formData = new FormData();
    
                formData.append("UserID", '@(ViewBag.UserID)');
                formData.append("Password", $("#Password").val());
                formData.append("NewPassword", $("#NewPassword").val());

                $.ajax({
                    url: "@Url.Action("UpdatePassword", "User")",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (!data.Success) {
                            toastr.warning(data.ErrorMessage, 'Warning', { timeOut: 3000, "closeButton": true });
                        } else {
                            toastr.success("Change Password Success!", 'Success', { timeOut: 3000, "closeButton": true });
                            //setTimeout(function () { window.location.href = "/Home/Index"; }, 1000);
                        }
                    },
                    error: function (jqXHR, error, errorThrown) {
                       toastr.error(jqXHR.status + " : " + jqXHR.responseText, 'Error', { timeOut: 3000, "closeButton": true });
                    }
                })
            } else {
                $('#hdn').css({ display: 'block' });
            }
        });
    });
</script>

