
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-md-12">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-colorbutton="false"
                     data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false"
                     data-widget-custombutton="false" data-widget-collapsed="false" data-widget-sortable="false">
                    <header style="border-top-left-radius:8px; border-top-right-radius:8px">
                        <h2 style="font-family:'Poppins-Regular';font-weight:500;font-size:15px">
                            Create Survey & Polls
                        </h2>
                    </header>

                    <div style="border-bottom-left-radius:8px; border-bottom-right-radius:8px">
                        <div style="padding: 5px 5px 5px 5px">
                            <div class="table-toolbar" style="padding-bottom:10px">
                                <table>
                                    <tr style="height:35px">
                                        <td width="100px">
                                            Survey ID
                                        </td>
                                        <td width="250px">
                                            <input id="txtid" type="text" class="form-control" style="background-color: #e9ecef !important; color:white !important; width:40px" readonly />
                                        </td>
                                    </tr>
                                    <tr style="height:35px">
                                        <td width="100px">
                                            Survey Title
                                        </td>
                                        <td>
                                            <input id="txttitle" type="text" class="form-control input-md" style="background-color:white; width:240px" />
                                        </td>
                                    </tr>
                                    <tr style="height:35px">
                                        <td width="100px">
                                            Start Date
                                        </td>
                                        <td>
                                            <input id="startdate" type="text" class="form-control input-md" style="background-color:white; width:130px" />
                                        </td>
                                    </tr>
                                    <tr style="height:35px">
                                        <td width="100px">
                                            End Date
                                        </td>
                                        <td>
                                            <input id="enddate" type="text" class="form-control input-md" style="background-color:white; width:130px" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <table style="width: 100%;">
                                <tr style="height: 50px">
                                    <td>
                                        <button id="btnNew" class="btn borderradiusbtn" style="font-family: 'Poppins-Regular'; font-size: 15px; font-weight: 500; background-color: #4CBFBC; width:85px" data-toggle="modal" data-target="#myModal" onclick="AddNewData()"><span style="color:white">New</span></button>
                                    </td>
                                </tr>
                            </table>

                            <table id="tableID" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;width: 7%">Action</th>
                                        <th style="text-align: center" class="hidden">
                                            Survey ID
                                        </th>
                                        <th style="text-align: center">
                                            Survey Title
                                        </th>
                                        <th style="text-align: center">
                                            Start Date
                                        </th>
                                        <th style="text-align: center">
                                            End Date
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<style type="text/css">
    .hidden {
        display: none;
    }

    .txtAlignCenter {
        text-align: center;
    }

    .txtAlignLeft {
        text-align: left;
    }

    .btn-save {
        color: #fff;
        background-color: #4CBFBC;
        border-color: #4CBFBC;
    }
</style>
<link rel="stylesheet" href="~/Content/zebra_datepicker.min.css" type="text/css">
<script src="~/Scripts/plugin/bootstrap-waitingfor/bootstrap-waitingfor.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
<script src="~/Scripts/zebra_datepicker.min.js"></script>
<script src="~/Scripts/zebra_datepicker.src.js"></script>

@section pagespecific
{
    <script>
        $(document).ready(function () {
            $('#startdate').Zebra_DatePicker({
                format: 'd M Y', //'d M Y'
                onSelect: function () {
                    $(this).change();
                }
            });
            $('#enddate').Zebra_DatePicker({
                format: 'd M Y', //'d M Y'
                onSelect: function () {
                    $(this).change();
                }
            });

            $("#startdate").val(today)
            $("#enddate").val(today)
        })
    </script>    
}